/*************
General Styles
*************/

#wrapper {
  max-width: 2000px;
}

#logo {
  color: #000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}




/********
Header and Footer Styles
********/
#bootstrap-override h1 {
  font-family: 'Fascinate Inline', serif;
  font-size: 4em;
  padding: 25px 0 0 10px;
  text-align: center;
  text-shadow: -3px 9px 8px;
}

#bootstrap-override h2 {
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  margin: -5px 0 0;
  padding-top: 1.5em;
  text-decoration: none;
  text-align: center;
  font-style: bold;
  text-shadow: -3px 9px 8px;
}


 .welcome h3 {
  text-align: center;
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  width: 700px;
  border-bottom: 5px solid #2F4F4F;
  float: right;
}

.welcome p {
  margin-top: 50px;
}

header {
  max-width: 2000px;
  background: url('../img/wood-grain.png') center;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  border-radius: 0 0 60px 60px;  
  border-bottom: 8px #2f4f4f solid;
}

footer {
  background: url('../img/wood-grain.png') center;
  font-size: 0.75em;
  text-align: center;
  padding-top: 50px;
  color: #FFFFFF;
  clear: both;
  width: 100%;
  border-radius: 30px 30px 0 0;
  border-top: 3px #2f4f4f solid;
  
}

footer p {
  font-family: 'Fascinate Inline', serif;
  color: #000;
  text-align: left;
}



/********
 Nav Styles
********/

nav {
  margin: 60px 750px;
  font-size: 1.4em;
}

.nav-pills > li.active > a {
  background-color: #2f4f4f !important;
}

a {
  color: #000 !important;
  font-family: 'Fascinate Inline', serif;
}


/********
Body Styles
********/

body {
  width: 100%;
}


.welcome {
  text-align: center;
  padding: 50px 50px;
  font-family: 'Ranga', serif;
  font-size: 2.5em;
  float: right;
  margin: 100px 100px;
}


#carousel-example-generic {
  width: auto;
  height: auto;
  overflow: hidden;
  float: left;
  margin: 50px 0 100px 200px;
  border:solid 15px #000;

}


/********
Photo Gallery Styles
*********/

.imgWrapper {
  margin-top: 100px;
}

.container {
  min-height: 1000px;
}

.gallery-text  p {
 text-align: center;
 display: inline-block;
 margin: 150px;
 font-family: 'Ranga', serif;
 border-top: 5px solid #2F4F4F;
 font-size: 2.5em;
}

 .text {
  font-family: 'Ranga', serif;
  font-size: 2em;
}



/********
Contact Page Styles
********/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', serif;
  color: #384047;
}

form {
  max-width: 50%;
  margin: 20px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  
}

h1 {
  margin: 0 0 10px 0;
  text-align: center;
}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

button {
  padding: 19px 39px 18px 39px;
  color : #FFF !important;
  background-color: #2F4F4F;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 30%;
  border: 1px solid white;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 inset;
  margin-bottom: 10px;
  text-transform: uppercase !important;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

.contact-info p {
 text-align: center;
 display: inline-block;
 margin: 100px 250px;
 font-family: 'Ranga', serif;
 border-top: 5px solid #2F4F4F;
 font-size: 3em;
}
