/*************
General Styles
*************/

#wrapper {
  max-width: 100%;
}


#logo {
  color: #000;
}

a {
  text-decoration: none;
}


/********
Header and Footer Styles
********/
#bootstrap-override h1 {
  font-family: 'Fascinate Inline', serif;
  font-size: 4em;
  padding: 25px 0 0 10px;
  text-align: center;
  
}

#bootstrap-override h2 {
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  margin: -5px 0 0;
  padding-top: 1.5em;
  text-decoration: none;
  text-align: center;
  font-style: bold;
}


 .welcome h3 {
  text-align: center;
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 2em;
  
}

header {
  background: url('../img/wood-grain.png') center;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}

footer {
  background: url('../img/wood-grain.png') center;
  font-size: 0.75em;
  text-align: center;
  padding-top: 50px;
  color: #FFFFFF;
  clear: both;
  width: 100%;
}

footer p {
  font-family: 'Fascinate Inline', serif;
  color: #000;
  text-align: left;
}

/********
 Nav Links
********/

#photo-btn {
  margin-left: 43%;
  margin-top: 3%;
  padding: 1em 1em;
  background:#2F4F4F;
  color: white;
  border-radius: 10%;
  text-transform: uppercase;
}

#contact-btn {
  padding: 1em 1em;
  background:#2F4F4F;
  color: white;
  margin-left: 60px;
  border-radius: 10%;
  text-transform: uppercase;
}


/*
nav {
  text-align: center;
  padding: 20px 0;
  margin: 50px 0 0;
  font-size: 18px;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 900;
  padding: 15px 5px;
  color: white;
  text-decoration: none;
}
*/

/********
Body Styles
********/

body {
  font-family: 'Merriweather', serif;
  width: 100%;
}

p {
  margin-top: 30px;
  font-size: 18px;
}

.welcome {
  width: 100%;
  text-align: center;
  background: url('../img/') center;
  padding: 50px 50px;
  
}
.carousel-inner > .item > img {
   margin: 0 auto;
}

#carousel-example-generic {
  width: 750px;
  float: left;
  margin-top: 100px;
  margin-bottom: 100px;
}


/********
Photo Gallery Styles
*********/


